<h1 class="speakersHeading">Speakers 🗣️📝</h1>
<div class="teams-grid">
  {{ range .Site.Data.slides }}
    <div class="speaker">
      <ul class="lists">
        <strong>{{ .name }}</strong>
        {{ if .url }}
          <a href="{{ .url }}" target="_blank">
            <li>{{ .topic }}</li>
          </a>
        {{ else }}
          <li>{{ .topic1 }}</li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>

<style>
  .speakersHeading {
    font-size: 25px;
  }
    .speaker .lists strong {
        font-size: 22px;
        margin-bottom: 10px;
    }
    a{
        font-size: 18px;
    }

  .speaker {
    border-radius: 8px;
    font-size: 19px;
    padding: 20px;
    margin: 1px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .speaker:hover {
    transform: scale(1.05);
  }

  .lists {
    list-style-type: none;
    padding: 0;
    margin-block-start: unset;
    padding-inline-start: unset;
  }

  .lists li {
      margin-top: 10px;
  }
</style>
